
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <h3>@ViewBag.Fecha</h3>
    <h1>Bienvenidos al sitio web de la Peluqueria Canina</h1>
    <p>
        @Html.ActionLink("Ver turnos", "Index", "Turno")
    </p>
</div>
